* {
	position: relative;
}
section {
	text-align: center;
}
#home {
	color: white;
	background-image: url('../images/sprouts-web.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
#home h1 {
	margin-top: 0;
	font-family: 'Slabo 27px';
	font-size: 3em;
	padding-top:3em;
}
#home h2 {
	font-family: 'Slabo 27px';
	font-size: 1em;
}
#home nav {
	font-size: 2em;
}
#work .row {
	margin: 0;
}
#main-nav {
	background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
	color: white;
	border:0;
}
#main-nav .nav-control h3 {
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

#main-nav .nav-control h3 span {
	display: block;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 5px;
	top: 0;
}

#main-nav ul {
	text-align: center;
	font-size: 1.3em;	
}

#main-nav ul li {}
#main-nav ul li a,
#main-nav ul li a:hover,
#main-nav ul li a:active {
	color: white;
	display: block;
	line-height: 2em;
}

.sticky-bar {
	position: fixed;
	top:0;
	z-index: 100;
	width: 100%;
}
figure {
	background: black;
	text-align: center;
	position: relative;
}
figure figcaption {
	position: absolute;
	top: 15%;
	padding: 2em;
	width: 100%;
	color: white;
}

figure img {
	width: 100%;
	height:auto;
	opacity: 0.5;
}

figure img:hover {
	opacity: 0.25;
}

figure figcaption {}
figure figcaption {}

.nospace {
	padding: 0 !important;
	margin: 0 !important;
}