* {
	position: relative;
}
p, h1, h2, h3, h4, h5, h6, li, figure {
	font-family: 'Open Sans';
}
section {
	text-align: center;
}
h3 {
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing:.2em;
}

h4 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	font-size: 1.2em;
}

#home {
	color: white;
	background-image: url('../images/sprouts-web.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
#home header {
	position: absolute;
	top: 20%;
	margin: auto 0;
	width: 100%;
}
#home h1 {
	margin-top: 0;
	font-family: 'Slabo 27px';
	font-size: 4em;
}
#home h2 {
	font-size: 1em;
	letter-spacing: 4px;
	text-transform: uppercase;
}

#home nav {
	font-size: 2em;
	position: absolute;
	bottom: 2em;
	margin: auto 0;
	width: 100%;
}
#home nav img {
	width: 3em;
	height: auto;
}
#home nav h3 {
	font-size: 2em;
	margin-top: 3em;
	margin-bottom: 0.5em;
	text-transform: none;
}
#work {
	position: relative;
}
#work .row {
	margin: 0;
}
#main-nav {
	background: rgba(0,0,0,0.75);
	color: white;
	border:0;
	margin: 0;
	padding: 0; 
	width:100%;
	z-index: 100;
	position: absolute;
	top: 0;
}
#main-nav .nav-control h3 {
	position: relative;
	margin: 0;
	line-height: 2em;
	margin-left: 15px;
	text-align: left;
	font-family: 'Slabo 27px';
}

#main-nav .nav-control h3 span {
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
}

#main-nav ul {
	text-align: center;
	font-size: 1.3em;
	margin: 0;
}

#main-nav ul li {}
#main-nav ul li a,
#main-nav ul li a:hover,
#main-nav ul li a:active {
	color: white;
	display: block;
	line-height: 2em;

}

.sticky-bar {
	position: fixed !important;
	top: 0;
	bottom: inherit !important;
	z-index: 100;
	width: 100%;
}
figure {
	background: black;
	text-align: center;
	position: relative;
}
figure figcaption {
	position: absolute;
	top: 15%;
	padding: 2em;
	width: 100%;
	color: white;
}

figure img {
	width: 100%;
	height:auto;
	opacity: .4;
	transition: all 0.5s ease-out;
}

figure:hover img {
	opacity: 0.25;
	transition: all 0.5s ease-in;
}

figure figcaption {}
figure figcaption {}

.nospace {
	padding: 0 !important;
	margin: 0 !important;
}
#about p {
	margin: auto 4em;
}
#about img {
	width:18em;
	margin: 4em auto 2em auto;
}

.spacer {
	height: 7em;
}

#clients {}

#clients ul {
	list-style: none;
}
#clients li {
	font-weight: 600;
	display: inline-block;
	width: 15em;
	padding: .5em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #666666;
}

