* {
	position: relative;
}
p, h1, h2, h3, h4, h5, h6, li, figure {
	font-family: 'Open Sans';
}
section {
	text-align: center;
}
h3 {
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing:.2em;
}

h4 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	font-size: 1.2em;
}

#home {
	color: white;
	background-image: url('../images/sprouts-web.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}
#home header {
	position: absolute;
	top: 20%;
	margin: auto 0;
	width: 100%;
}
#home h1 {
	margin-top: 0;
	font-family: 'Slabo 27px';
	font-size: 4em;

}
#home h2 {
	margin-top: 0em;
	font-size: 1em;
	letter-spacing: 4px;
	text-transform: uppercase;
}

#home nav {
	font-size: 1em;
	position: absolute;
	bottom: 2em;
	margin: auto 0;
	width: 100%;
}
#home nav img {
	width: 3em;
	height: auto;
}
#home nav h3 {
	font-size: 2em;
	
	margin-bottom: 0.5em;
	text-transform: none;
}
#home nav a {
	display: inline-block;
	color: white;

	padding: 0.5em 3em 2em;
}
#home nav a:hover,
#home nav a:focus {
	text-decoration: none;
}
#work {
	position: relative;
}
#work .row {
	margin: 0;
}
#main-nav {
	background: rgba(0,0,0,0.75);
	color: white;
	border:0;
	margin: 0;
	padding: 0; 
	width:100%;
	z-index: 100;
	position: absolute;
	top: 0;


}
#main-nav .nav-control h3 {
	position: relative;
	margin: 0;
	line-height: 2em;
	margin-left: 25px;
	text-align: left;
	font-family: 'Slabo 27px';
}

#main-nav .nav-control h3 span {
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	right: 25px;
	top: 0;
	cursor: pointer;
}

#main-nav ul {
	text-align: center;
	font-size: 1.3em;
	margin: 0;
}

#main-nav ul li {}
#main-nav ul li a,
#main-nav ul li a:hover,
#main-nav ul li a:active {
	color: white;
	display: block;
	line-height: 2em;

}

.sticky-bar {
	position: fixed !important;
	top: 0;
	bottom: inherit !important;
	z-index: 100;
	width: 100%;
}
figure {
	background: black;
	text-align: center;
	position: relative;
}
figure figcaption {
	position: absolute;
	bottom: 0%;
	padding: 2em;
	width: 100%;
	color: white;
}

figure img {
	width: 100%;
	height:auto;
	opacity: .4;
	transition: all 0.5s ease-out;
}

.video-piece:hover figure img {
	opacity: 0.25;
	transition: all 0.5s ease-in;
}

.video-piece:hover .play-button {
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

figure figcaption {}
figure figcaption {}

.nospace {
	padding: 0 !important;
	margin: 0 !important;
}
#about p {
	margin: auto 4em;
}
#about img {
	width:18em;
	margin: 0 auto 2em auto;
}

.emphasis {
	font-weight: 500;
	font-size: 1.4em;
	color: #666;
	padding-top: 1.3em;
	margin: auto 4em;
}

.spacer {
	height: 10em;
}

#clients {}

#clients ul {
	list-style: none;
}
#clients li {
	font-weight: 600;
	display: inline-block;
	width: 16em;
	padding: .5em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #666666;
}

#connect {
	background: #333;
	color: white;
	padding-bottom: 6em;
}
#connect h1 {
	font-family: 'Slabo 27px';
	font-size: 4em;
	padding-top: 2em;
	margin-bottom: 0.2em;
}
#connect h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	padding:0;
	margin:0;
	margin-bottom: 4em;
}
#connect img {
	width: 5em;
	margin: 1.5em;
}
#connect .contact-info {
	font-size: 1.5em;
}
#connect .contact-info a {
	line-height: 2em;
	text-transform: uppercase;
	color: white;
}
#connect .contact-info a:active {
	color: white;
}

.featherlight {
	display: block !important;
}
.featherlight iframe{
	width: 44em;
    height: 25em;
}
.featherlight .featherlight-inner{
	background: black; 
}
.nav-toggle img {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transition: transform 0.3s ease-out;
}
.nav-toggle img.rotate {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.play-button {
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;
	top: 23%;
	height: 5em;
	width: 5em;
}
.videos {
	display: none;
}
.featherlight-content {
	min-width: 95%;
}
.featherlight iframe {
	width: 100%;
}
@media (min-width: 550px) {
	.play-button {
		height: 10em;
		width: 10em;
		top: 15%;
	}
}
@media (min-width: 695px) { 
	#clients li {
		width: 18em;
	}
	.featherlight-content {
		min-width: 30%;
	}
	.featherlight iframe {
		width: 44em;
	}
}

@media (min-width: 768px) { 
	#main-nav ul li a,
	#main-nav ul li a:hover {
		line-height: 3em
	}
	.play-button {
		height: 5em;
		width: 5em;
		top: 10%;
	}
	.video {
		width: 100%;
		height: 72vw;
	}
	.video-piece:hover figure img {
		opacity: 0.25;
		transition: all 0.5s ease-in;
	}

	.video-piece:hover .play-button {
		opacity: 1;
		transition: opacity 0.2s ease-in;
	}

	#home {
		height: 100vh;
	}
	.video {
		height: 35vw;
	}
	#connect .contact-info {
		font-size: 2em;
		text-align: left;
	}
	#connect .contact-info a {
		line-height: 4em;
	}

	#connect h1 { 
		font-size: 6em;
		padding-top: 1em;
	}
	#connect h2 { 
		font-size: 2em;
		margin-bottom: 1.3em;
	}
	#main-nav .nav-control {
		width: 20em;
		float: left;
	}
	#main-nav ul.hidden {
		display: block !important;
		float: right;
		text-align: right;
	}
	#main-nav .hidden li {
		display: inline;
		/*width: 5em;*/
	}
	#main-nav .hidden li a,
	#main-nav .hidden li a:hover {
		display: inline;
		padding-left:2em;
		padding-right:2em;
	}
	#main-nav .nav-control h3 {
		line-height: 3.3em;
	}
	#main-nav .nav-control h3 .nav-toggle {
		display: none;
	}
}

@media (min-width: 992px) { 
	body {
		font-size: 18px;
	}
	.play-button {
		opacity: 0;
		height: 10em;
		width: 10em;
		top: 10%;
		transition: opacity 0.2s ease-out;
	}
	#home {
		font-size: 2.3em
	}
	#home header {
		position: static;
		padding-top: 3em;
	}
	#home h1 {}
	#home h2 {
		margin-bottom: 2em;
	}

	#home nav {
		position: static;
		font-size: 0.4em;
	}

}

@media (min-width: 1200px) { 

}
